@media all and (min-width: 300px) {
    .CreateProject {
        padding: 90px;
        background-color: rgb(23, 136, 189);
    

    }
    .CreateProject form {
        margin: 0 auto;
        max-width: 700px;
  
    }
    .labels {
font-size:medium;
font-weight: bold;

    }

    


}