@media all and (min-width: 300px) {
  .Register {
    padding: 90px;
    background-color: white;
  }
  .Register form {
    margin: 0 auto;
    max-width: 700px;
  }
  .labels {
    font-size: medium;
    font-weight: bold;
  }
}
